.header-navbar {
    background-color: #f0e6ea;
    height: 4rem;
}

.navbar-container {
    margin-top: -10px;
}

.brand {
    color: #606080;
    font-weight: 600;
    font-size: 22px;
}

.navbar-toggler {
    color: #606080;
}

.logged-in-user {
    margin-right: 320px;
}

.header-text {
    color: #606080;
    font-weight: 500;
    margin-top: 14px;
    font-size: 17px;
}

@media  (width < 1024px) {
    .header-navbar {
        background-color: #f0e6ea;
        height: auto;
    }

    .logged-in-user {
        margin-right: 0px;
    }
}